// Styling for the masthead
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url('../assets/img/header-low-res.jpg');
  background-position: center center;
  @include background-cover;
  hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
  h2, h3 {
    text-shadow: 2px 2px #111;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-weight: 300;
  }
  a {
    color: $white;
  }
  img {
    width: 100%;
    height: 100%;
  }
  @media (min-width: 500px) {
    h2 {
      font-size: 30px;
    }
  }
  @media (min-width: 768px) {
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 28px;
    }
    img {
      width: auto;
      height: auto;
    }
  }
  @media (min-width: 1243px) {
    background-image: url('../assets/img/header-med-res.jpg');
  }
  @media (min-width: 2561px) {
    background-image: url('../assets/img/header-high-res.jpg');
  }
}
