<!--The content below is only a placeholder and can be replaced.-->

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="mb-5">
          <span class="runthelough-logo"></span>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <h2>Easter Monday - 2nd April, 2018</h2>
        <h2 class="mb-5">Timed lap of <em>The Lough</em> (1.2 mile)</h2>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://register.primoevents.com/ps/event/runthelough" target="_blank">Register Online Now!</a>
      </div>
    </div>
    <h3 class="mt-5">With thanks to our sponsers</h3>
    <div class="col-lg-8 mx-auto container">          
      <a href="http://www.nugentengineering.com/" target="_blank">
        <img class="nugents-splash" src="../assets/img/nugent_splash.jpg">
      </a>
    </div>
  </div>

</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Show your speed over a fast, flat 1.2 mile course!</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">Fundraising time-trial race around the Lough in Loughmacrory (just under 2km) organised by the Kelly family and LCDA in memory of Roseanne Kelly.
Proceeds in aid of Marie Curie, Red Cross and LCDA Community Development Project.</p>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-money text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Cash Prizes</h3>
          <p class="text-muted mb-0">Overall Women's and Men's Races. 1st place £50, 2nd place £30, 3rd place £20,</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-child text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Children's Races</h3>
          <p class="text-muted mb-0">Medals for all children competing.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-trophy text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Category Prizes</h3>
          <p class="text-muted mb-0">Prizes for winners of all age categories, 19 & under, 35+, 40+, 45+, 50+, 55+, 60+, 65+.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-flag-checkered text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Team Prizes</h3>
          <p class="text-muted mb-0">Prizes for the fastest athletics/running club, and the fastest sports club!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Custom scripts for this template -->
