<!--The content below is only a placeholder and can be replaced.-->

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="my-2">
          <img src="../assets/img/runthelough-large.png">
        </h1>
      </div>
      <div class="col-12 mx-auto">
        <a class="btn btn-primary btn-xl js-scroll-trigger my-1" href="#results">View Live Leaderboard</a>
      </div>
      <div class="col-12 mx-auto">
        <a class="btn btn-primary btn-xl js-scroll-trigger my-1" href="#timetable">Timetable of races</a>
      </div>      
    </div>
    <h3 class="mt-5">With thanks to our sponsors</h3>
    <div class="col-lg-8 mx-auto container">          
      <a href="http://www.nugentengineering.com/" target="_blank">
        <img src="../assets/img/nugent_splash.jpg">
      </a>
    </div>
  </div>
</header>

<section class="results-section" id="results">
  <h2 class="text-center results-heading">Live Leaderboard</h2>
  <div class="container">
    <app-results-table></app-results-table>
  </div>
</section>

<section class="bg-primary section-clipped-bottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Show your speed over a fast, flat 1.2 mile course!</h2>
        <hr class="light my-4">
        <h3 class="section-heading text-white">Children's entertainment by <a href="http://duffballoons.com/"><em>Duff Balloons</em></a> of Britain's Got Talent fame from 5pm-6pm</h3>
        <hr class="light my-4">
        <p id="timetable" class="text-faded mb-4">Fundraising time-trial race around the Lough in Loughmacrory (just under 2km) organised by the Kelly family and LCDA in memory of Roseanne Kelly.
Proceeds in aid of Marie Curie, Red Cross and LCDA Community Development Project.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="text-white text-center timetable-heading">Timetable Of Races</h2>
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Children's Age Category</th>
              <th>Start Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Year 5</td>
              <td>4.15pm</td>
            </tr>
            <tr>
              <td>Year 6</td>
              <td>4.20pm</td>
            </tr>
            <tr>
              <td>Year 7</td>
              <td>4.25pm</td>
            </tr>
            <tr>
              <td>Year 8</td>
              <td>4.30pm</td>
            </tr>
            <tr>
              <td>Year 9</td>
              <td>4.35pm</td>
            </tr>
            <tr>
              <td>Year 10</td>
              <td>4.40pm</td>
            </tr>
            <tr>
              <td>Year 11</td>
              <td>4.45pm</td>
            </tr>
            <tr>
              <td>Year 12</td>
              <td>4.50pm</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Adult Category*</th>
              <th>Start Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Female Open</td>
              <td>5.00pm</td>
            </tr>
            <tr>
              <td>Female Open</td>
              <td>5.05pm</td>
            </tr>
            <tr>
              <td>Female Open</td>
              <td>5.10pm</td>
            </tr>
            <tr>
              <td>Female Open</td>
              <td>5.15pm</td>
            </tr>
            <tr>
              <td>Male Open</td>
              <td>5.20pm</td>
            </tr>
            <tr>
              <td>Male Open</td>
              <td>5.25pm</td>
            </tr>
            <tr>
              <td>Male Open</td>
              <td>5.30pm</td>
            </tr>
            <tr>
              <td>Male Open</td>
              <td>5.35pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">    
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" colspan="4">* Adults can run in whichever timeslot they wish as all times will be combined into the final results.</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center" colspan="4">Walkers are invited to walk The Lough from 5.40pm onwards</td>
          </tr>
          <tr>
            <td class="text-center" colspan="4">Prizes for children's categories will be presented shortly after each race has finished. Female prizes will be presented after all female open races have finished, and male prizes will be presented after male open races have finished.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section id="prizes">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-money text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Cash Prizes</h3>
          <p class="text-muted mb-0">Overall Women's and Men's Races. 1st place £50, 2nd place £30, 3rd place £20,</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-child text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Children's Races</h3>
          <p class="text-muted mb-0">Medals for all children competing.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-trophy text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Category Prizes</h3>
          <p class="text-muted mb-0">Prizes for winners of all age categories, 19 & under, 35+, 40+, 45+, 50+, 55+, 60+, 65+.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-flag-checkered text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Team Prizes</h3>
          <p class="text-muted mb-0">Prizes for the fastest athletics/running club, and the fastest sports club!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary" id="location">
  <div class="container">
    <h2>Location</h2>
    <div style="height: 100vh">
      <iframe width="100%"
              height="100%" 
              frameborder="0"
              style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=54.626438%2C%20-7.105068&key=AIzaSyACZPv4rJcGoS7snbuwsdyC15lanG-G_5M&zoom=15"
              allowfullscreen>
      </iframe>
    </div>
  </div>
</section>

<section id="course">
  <div class="container panel">
    <h2>Course</h2>  
    <iframe name="plotaroute_map_332770"
            src="https://www.plotaroute.com/embedmap/574611?maptype=paths"
            frameborder="0"
            scrolling="no"
            width=100%
            height="600"
            allowfullscreen
            webkitallowfullscreen
            mozallowfullscreen
            oallowfullscreen
            msallowfullscreen
            style="display: inline-block;">
  </iframe>
  </div>
</section>

<!-- Custom scripts for this template -->
