<!--The content below is only a placeholder and can be replaced.-->

<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="my-2">
          <img src="../assets/img/runthelough-large.png">
        </h1>
      </div>
      <div class="col-12 mx-auto">
        <a class="btn btn-primary btn-xl js-scroll-trigger my-1" href="#results">View 2018 Results</a>
      </div>
    </div>
    <h3 class="mt-5">Thanks to our sponsors</h3>
    <div class="col-lg-8 mx-auto container">          
      <a href="http://www.nugentengineering.com/" target="_blank">
        <img src="../assets/img/nugent_splash.jpg">
      </a>
    </div>
    <div class="col-lg-10 mx-auto container">          
      <img class="all-sponsers" src="../assets/img/runthelough_sponsers.jpg">
    </div>
  </div>
</header>

<section class="results-section" id="results">
  <h2 class="text-center results-heading">Results</h2>
  <div class="container">
    <app-results-table></app-results-table>
  </div>
</section>

<section class="bg-primary section-clipped-bottom" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h3 id="timetable" class="text-faded mb-4">The Kelly familty wishes to thank everyone who attended and helped out at this year's event.</h3>
        <h3 id="timetable" class="text-faded mb-4">All proceeds in aid of Marie Curie, the Red Cross and LCDA Community Development Project.</h3>
      </div>
    </div>
  </div>
</section>

<section id="prizes">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-money text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Cash Prizes</h3>
          <p class="text-muted mb-0">Overall Women's and Men's Races. 1st place £50, 2nd place £30, 3rd place £20,</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-child text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Children's Races</h3>
          <p class="text-muted mb-0">Medals for all children competing.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-trophy text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Category Prizes</h3>
          <p class="text-muted mb-0">Prizes for winners of all age categories, 19 & under, 35+, 40+, 45+, 50+, 55+, 60+, 65+.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-flag-checkered text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Team Prizes</h3>
          <p class="text-muted mb-0">Prizes for the fastest athletics/running club, and the fastest sports club!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary" id="location">
  <div class="container">
    <h2>Location</h2>
    <div style="height: 100vh">
      <iframe width="100%"
              height="100%" 
              frameborder="0"
              style="border:0"
              src="https://www.google.com/maps/embed/v1/place?q=54.626438%2C%20-7.105068&key=AIzaSyACZPv4rJcGoS7snbuwsdyC15lanG-G_5M&zoom=15"
              allowfullscreen>
      </iframe>
    </div>
  </div>
</section>

<section id="course">
  <div class="container panel">
    <h2>Course</h2>  
    <iframe name="plotaroute_map_332770"
            src="https://www.plotaroute.com/embedmap/574611?maptype=paths"
            frameborder="0"
            scrolling="no"
            width=100%
            height="600"
            allowfullscreen
            webkitallowfullscreen
            mozallowfullscreen
            oallowfullscreen
            msallowfullscreen
            style="display: inline-block;">
  </iframe>
  </div>
</section>

<!-- Custom scripts for this template -->
