@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

%runthelough-logo {
	font-family: "Century Gothic";
	font-size: 120px;
	letter-spacing: -3px;
}

.logo-runlough {
	@extend %runthelough-logo;
	color: black;
	font-weight: 1000;
}

.logo-the {
	@extend %runthelough-logo;
	color: #e58636;
	font-weight: 500;
}